/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: #444;
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 1.5em;
}

main {
  width: 80%;
  margin: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bree Serif', serif;

}

h1 {
  font-size: 2.4rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  color: #0DA8DE;
}

h3 {
  font-size: 1.5rem;
}

/* ============================
        HEADER
 =============================*/


header nav {
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Bree Serif';
  color: #0DA8DE;
}

header nav:hover {
  color: #1057A1;
}

header a {
  text-align: center;
  padding: 10px 0;
}

header nav ul {
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#landingImage {
  text-align: center;
  background-image: url(img/plage.jpg);
  background-size: cover;
  margin: 100px 0;
  padding: 250px 0;
  line-height: 20px;
  width: 100%;
  color: white !important;
  font-family: 'Bree Serif', serif;
  text-shadow: #444;
}

.sub-title {
  font-size: 1.2em;
}

/* ============================
      FOOTER
 =============================*/
footer {
  margin: auto;
  background-color: #0DB3D9;
  color: #fff;
}

span {
  font-weight: bold;
}

#footer-linx-container {
  margin: auto;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer-linx-container ul {
  line-height: 1.8em;
}

footer .fab {
  padding: 0.5em;
}

footer section:nth-child(2) {
  background-color: #1261A6;
  text-align: center;
}


/* ======================== */
a {
  text-decoration: none;
  color: #0DB3D9;
}

li {
  list-style-type: none;
}

.obligatoire {
  color: red;
}

.prix {
  color: blue;
}

/* MODULES */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.active {
  display: block;
}

/* PAGES */
figure {
  width: 100%;
}

/* ANIMATIONS */


/* MEDIA QUERIES */
@media screen and (max-width:960px) {
  .row {
    flex-direction: column;
  }

  figure>img {
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  .row {
    flex-direction: column;
  }
}